/*
Removes white gap between slides - chagnge to base color of slide images
*/
.carousel {
  background:#FFFFFF;
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
  width:100%;
}

/* 
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
  display: block;
  width:100%;
}

.carousel-caption {
  top: 10% !important;
  bottom: 0% !important;
}


.carousel-caption h2 {
  font-family: 'Vollkorn', serif;
  font-size: 4em;
  line-height: .5;
}

.carousel-caption p {
  font-family: 'Vollkorn', serif;
  font-size: 2em;
}



